<!DOCTYPE html>
<html ng-app="cognitsApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/home.css">
  <link rel="stylesheet" type="text/css" href="styles/tipografias.css">
 
  <link rel="icon" href="images/icons/cognits_icon_18x13.png" />
  <!-- start Mixpanel -->
  <script type="text/javascript">
    (function(f, b) {
      if (!b.__SV) {
        var a, e, i, g;
        window.mixpanel = b;
        b._i = [];
        b.init = function(a, e, d) {
          function f(b, h) {
            var a = h.split(".");
            2 == a.length && (b = b[a[0]], h = a[1]);
            b[h] = function() {
              b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
            }
          }
          var c = b;
          "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
          c.people = c.people || [];
          c.toString = function(b) {
            var a = "mixpanel";
            "mixpanel" !== d && (a += "." + d);
            b || (a += " (stub)");
            return a
          };
          c.people.toString = function() {
            return c.toString(1) + ".people (stub)"
          };
          i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
          for (g = 0; g < i.length; g++) f(c, i[g]);
          b._i.push([a, e, d])
        };
        b.__SV = 1.2;
        a = f.createElement("script");
        a.type = "text/javascript";
        a.async = !0;
        a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
        e = f.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(a, e)
      }
    })(document, window.mixpanel || []);
    mixpanel.init("8efec621b97ac62efa087be500ee5c1f");
  </script>
  <!-- end Mixpanel -->
</head>
<body> 
<div class="container-full  homeImage">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display-->
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><img src="images/logos/img_logo-menu.png" class="img-responsive logo-cognits " alt='cognits logo'></div>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul id="panel" class="nav navbar-nav">
          <li>
            <a href="#type-thin" onclick="$.scrollTo('#type-thin',800);">
              <h4 id="text-menu">OUR BELIEFS </h4>
            </a>
          </li>
          <li class="hideResponsive">
            <a href="#whyCognits" onclick="$.scrollTo('#whyCognits',800);">
              <h4 id="text-menu">WHY COGNITS?</h4>
            </a>
          </li>
          <li class="hide reaparecer">
            <a href="#whyCognits" onclick="$.scrollTo('#whyCognits2',800);">
              <h4 id="text-menu">WHY COGNITS?</h4>
            </a>
          </li>
          <li class="hideResponsive">
            <a href="#weDo" onclick="$.scrollTo('#weDo',1800);">
              <h4 id="text-menu">WHAT WE DO </h4>
            </a>
          </li>
          <li class="hide reaparecer">
            <a href="#weDo" onclick="$.scrollTo('#weDo2',1800);">
              <h4 id="text-menu">WHAT WE DO </h4>
            </a>
          </li>
          <li>
            <a href="#ourTeam" onclick="$.scrollTo('#ourTeam',1800);">
              <h4 id="text-menu">OUR TEAM</h4>
            </a>
          </li>
          <li class="hide reaparecer">
            <a href="#Contactos" onclick="$.scrollTo('#Contactos2',1800);">
              <h4 id="text-menu">CONTACT US</h4>
            </a>
          </li>
        </ul>
        <div class="contact-us hideResponsive">
          <a href="#Contactos" onclick="$.scrollTo('#Contactos',1800);" id="contact">
            <h4 id="text-contact">CONTACT US</h4>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- First diagonal with our beliefs-->
  <div class="container-full image-background-hand2">
    <div class="row homeImage2">
      <div class="skew-bar content-skew-bar">
        <div class="col-md-4 contradiccionFormaDiagonal">
          <div class="container-beliefs"> <img id="icons-width-blue" src="images/icons/img_arrow-bullet.png" class="alinicacionBracketTitle" alt="">
           <div class="titles-beliefs">
              <h1 id="type-thin">OUR</h1>
              <h1 id="blue-title">BELIEFS</h1>
              <div class="our-beliefs-bar"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 contradiccionFormaDiagonal">
          <center><img id="icons-width" src="images/icons/img_ic_1.png" alt='icon blue person'>
            <div class="containerText"><img src="images/icons/img_arrow-bullet.png" class="bracket-parrafo" >
              <p id="text">Any motivated person can learn to design/program and have success in this field</p>
            </div>
          </center>
        </div>
        <div class="col-md-4 contradiccionFormaDiagonal">
          <center><img id="icons-width" src="images/icons/img_ic_2.png" class="iconIC2" alt='icon blue pencil'>
            <div class="containerText"><img src="images/icons/img_arrow-bullet.png" class="bracket-parrafo-lapiz">
              <p id="text">In the potential to expand the talent in Central America in digital desing and software development
              </p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
  <!-- Second diagonal with information about cognits-->
  <div class="container-full image-background-hand">
    <div class="row container-hand-image-2nd-part">
      <div class="skew-bar-inverse content-skew-bar ordenContrarioResposive" id="whyCognits2">
        <div id="title" class="col-md-4 contradiccionFormaDiagonalInversa hide reaparecer">
          <div class="posiciontitleResponsive"><img id="icons-width-blue" src="images/icons/img_contact-bullet.png" alt="">
            <div class="titles-beliefs">
              <h1 id="type-thin">WHY</h1>
              <h1 id="red-title">COGNITS?</h1>
              <div class="why-cognits-bar"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 contradiccionFormaDiagonalInversa">
          <center><img id="icons-width-coete" src="images/icons/img_ic_4.png" alt="red rocket">
            <div class="container-text"></div>
            <p id="black-text">Our mission is to provide the precise skill-set you need to allow you to expand and reduce your work overload, while giving the opportunity to bright young people in Guatemala to ramp up to the digital economy.</p>
          </center>
        </div>
        <div class="col-md-4 contradiccionFormaDiagonalInversa">
          <center><img id="icons-width" src="images/icons/img_ic_3.png" alt="red magnifier">
            <div class="container-text">
              <P id="black-text">Finding and retaining designers and developers is becoming increasingly difficult. There is a struggle to find the right talent at an affordable price. This is where Cognits comes in!</P>
            </div>
          </center>
        </div>
        <div id="title" class="col-md-4 contradiccionFormaDiagonalInversa hideResponsive">
          <div id="whyCognits"><img id="icons-width-blue" src="images/icons/img_contact-bullet.png" alt="">
            <div class="titles-beliefs">
              <h1 id="type-thin">WHY</h1>
              <h1 id="red-title">COGNITS?</h1>
              <div class="why-cognits-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Third diagonal with information about cognits-->
  <div class="container-full container-hand-image-1st-part">
    <div class="row container-image-notebook-1st-part">
      <div class="skew-bar-cognits-black content-skew-bar">
        <div class="col-md-3 contradiccionFormaDiagonal">
          <div class="container-beliefs"> <img id="icons-width-blue" src="images/icons/img_arrow-bullet.png" alt="">
           <div class="titles-beliefs">
              <h1 id="type-thin">WHY</h1>
              <h1 id="blue-title">COGNITS?</h1>
              <div class="why-cognits-blue-bar"></div>

            </div>
          </div>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonal">
          <center><img src="images/icons/img_ic_5.png" class="width-icono-mapa" alt="blue map">
            <div class="containerText"><img src="images/icons/img_arrow-bullet.png" class="bracket-parrafo-mapa bracket-parrafoThreeBlock" alt="">
              <p id="text">Our operation center based in Guatemala provides a privileged location and strong telecommunication service. You will have quality and reliable communication on the business hours that suit you best.
              </p>
            </div>
          </center>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonal">
          <center><img id="icons-width-blue-cognits" src="images/icons/img_ic_6.png" alt="blue person arrows">
            <div class="containerText"></div><img src="images/icons/img_arrow-bullet.png" class="bracket-parrafo-icono bracket-parrafoThreeBlock" alt="">
            <p id="text">Expand your capacity and empower your team. We can help you scale the team to meet the amout of work you require.
            </p>
          </center>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonal">
          <center><img src="images/icons/img_ic_7.png" class="widthi-icono-medalla" alt="blue badge">
            <div class="containerText"><img src="images/icons/img_arrow-bullet.png" class="bracket-parrafo-medalla bracket-parrafoThreeBlock" alt="">
              <p id="text">Our human resources counts on great talent, industry best practices, fluent english and affinity to US culture.</p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
  <!-- fourth diagonal with information about what we do in cognits -->
  <div class="container-full container-image-notebook-2nd-part">
    <a href="#weDo"></a>
    <div class="row container-profiles-team2">
      <div class="skew-bar-inverse content-skew-bar">
        <div class="col-md-3 contradiccionFormaDiagonalInversa hide reaparecer">
          <div id="weDo2"><img id="icons-width-blue" src="images/icons/img_contact-bullet.png" alt="">
              <div class="titles-beliefs">
              <h1 id="type-thin">WHAT </h1>
              <h1 id="red-title">WE DO?</h1>
              <div class="what-we-do-bar"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonalInversa">
          <div class="iconIC10">
            <center><img id="icons-width" src="images/icons/img_ic_10.png" alt="icon notebook">
              <div class="container-text"></div>
              <center>
                <h3 id="type-regular">Assess your technological needs. </h3></center>
              <p id="black-text">Have a deep down understanding of what you are trying to accomplish and what skills will allow you to get there.</p>
            </center>
          </div>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonalInversa">
          <center><img id="icons-width" src="images/icons/img_ic_9.png" alt="icon tool">
            <div class="container-text"></div>
            <center>
              <h3 id="type-regular">Train and build</h3></center>
            <p id="black-text">Build the team you need with our intense program which provides a focus on personal growth and conscious behavior, the technical skills you require and a training in your company and your services
            </p>
          </center>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonalInversa">
          <center><img id="icons-width" src="images/icons/img_ic_8.png" alt="icon compass">
            <div class="container-text"></div>
            <center>
              <h3 id="type-regular">Integrate</h3></center>
            <p id="black-text">You will have quality designers and developers at your disposal. The team is 100% dedicated to you and your mission. They will understand where you come from and where you want to go
            </p>
          </center>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonalInversa hideResponsive">
          <div id="weDo"><img id="icons-width-blue" src="images/icons/img_contact-bullet.png" alt="">
             <div class="titles-beliefs">
              <h1 id="type-thin">WHAT </h1>
              <h1 id="red-title">WE DO?</h1>
              <div class="what-we-do-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fifth diagonal with profiles of our team-->
  <div class="container-full container-profiles-team">
    <div class="row container-ux-designer1">
      <div class="skew-bar-cognits-black content-skew-bar">
        <div class="col-md-3 contradiccionFormaDiagonal">
          <div class="row">
            <div class="container-beliefs"><img id="icons-width-blue" src="images/icons/img_arrow-bullet.png" alt="">
              <div id="ourTeam" class="titles-beliefs">
                <h1 id="type-thin">OUR</h1>
                <h1 id="blue-title">TEAM</h1>
                <div class="our-team-bar"> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <center><img src="images/perfiles/img_t1.png" class="height-first-profile aligin-1st-profile" alt="sebastian profile">
              <div class="aligin-1st-profile">
                <h3>Sebastian</h3>
                <p id="text">Co-founder</p>
              </div>
            </center>
          </div>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonal">
          <center><img src="images/perfiles/img_t2.png" class="height-images-profiles aligin-profiles" alt="cristobal profile">
            <div class="aligin-profiles">
              <h3>Cristobal</h3>
              <p id="text">Co-founder </p>
            </div>
          </center>
        </div>
        <div class="col-md-3 col-sm-9 contradiccionFormaDiagonal">
          <center><img src="images/perfiles/img_t3.png" class="property-ux-profile aligin-profiles" alt="julio profile">
            <div class="aligin-ux-profile">
              <h3>Julio</h3>
              <p id="text">UX Designer</p>
            </div>
          </center>
        </div>
        <div class="col-md-3 contradiccionFormaDiagonal">
          <center><img src="images/perfiles/img_t4.png" class="height-images-profiles aligin-profiles" alt="ludwin profile">
            <div class="aligin-profiles">
              <h3>Ludwin</h3>
              <p id="text">Director and Mentor of Training</p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
  <!-- sixth diagonal with the form for send a mail -->
  <div class="row container-ux-designer">
    <div class="skew-bar-inverse-contact  datos">
      <div class="col-md-4 col-md-offset-4 contradiccionFormaDiagonalInversa hide reaparecer">
        <div id="bracketTitleDatos" class="position-icons-cognits posiciontitleResponsive"><img id="icons-width-blue" src="images/icons/img_contact-bullet.png" alt="">
          <!-- title for desktop version-->
          <div class="titles-beliefs alturaTitleDatos">
            <h1 id="type-thin">CONTACT</h1>
            <h1 id="red-title">US</h1>
            <div class="contac-us-bar-title"></div>
          </div>
        </div>
      </div>
      <div id="Contactos" class="col-md-4 col-md-offset-4 contradiccionFormaDiagonalInversa contra">
        <form ng-controller="formController" novalidate name="formcontact-us" method="POST" id="Contactos2">
          <div id="formulario" ng-class="{'has-error':formcontact-us.Name.$dirty &amp;&amp; formcontact-us.Name.$invalid , 'has-success':formcontact-us.Name.$dirty &amp;&amp; formcontact-us.Name.$valid}" class="form-group">
            <center>
              <p class="required-field">*</p><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="nameField" type="text" placeholder="Name" name="Name" ng-model="Name" ng-required="true" class="form-control name-input">
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.title.$dirty &amp;&amp; formcontact-us.title.$invalid , 'has-success':formcontact-us.title.$dirty &amp;&amp; formcontact-us.title.$valid}" class="form-group title">
            <center><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="titleField" type="text" placeholder="Title" name="title" ng-model="Title" ng-required=" true" class="form-control name-input">
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.company.$dirty &amp;&amp; formcontact-us.company.$invalid , 'has-success':formcontact-us.company.$dirty &amp;&amp; formcontact-us.company.$valid}" class="form-group title">
            <center><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="companyField" type="text" placeholder="Company" name="company " ng-model="Company" ng-required="true" class="form-control name-input">
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.email.$dirty &amp;&amp; formcontact-us.email.$invalid , 'has-success':formcontact-us.email.$dirty &amp;&amp; formcontact-us.email.$valid}" class="form-group title">
            <center>
              <p class="required-field">*</p><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="emailField" type="email" placeholder="Email" name="email" ng-model="Email" ng-required="true" class="form-control name-input">
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.cel.$dirty &amp;&amp; formcontact-us.cel.$invalid , 'has-success':formcontact-us.cel.$dirty &amp;&amp; formcontact-us.cel.$valid}" class="form-group title">
            <center><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="telephoneField" type="text" placeholder="Telephone" name="cel" ng-model="Phone" ng-required="true" class="form-control name-input">
            </center>
          </div>
          <div class="form-group title ">
            <center>
              <p class="required-fieldSelect">*</p><img src="images/icons/select-dwn-01.png" class="select-row" alt="down row">
              <select id="countryField" ng-model="country" ng-required="true" class="form-control selectInput name-input">
                <option value="" default selected>Country</option>
                <option value="{{data.name}}" ng-repeat="data in paises"> {{data.name}}</option>
              </select>
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.city.$dirty &amp;&amp; formcontact-us.city.$invalid , 'has-success':formcontact-us.city.$dirty &amp;&amp; formcontact-us.city.$valid}" class="form-group title">
            <center><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="cityField" type="text" placeholder="City" ng-model="City" name="city" ng-required="true" class="form-control name-input">
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.proffesional.$dirty &amp;&amp; formcontact-us.proffesional.$invalid , 'has-success':formcontact-us.proffesional.$dirty &amp;&amp; formcontact-us.proffesional.$valid}" class="form-group title">
            <center><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <input id="kindProffesional" type="text" placeholder="What type of talent do you seek?"
 name="proffesional" ng-model="kindProffesional" ng-required="true" class="form-control name-input">
            </center>
          </div>
          <div ng-class="{'has-error':formcontact-us.needs.$dirty &amp;&amp; formcontact-us.needs.$invalid , 'has-success':formcontact-us.needs.$dirty &amp;&amp; formcontact-us.needs.$valid}" class="form-group title">
            <center><img src="images/icons/img_contact-bullet.png" class="input-row" alt="down row">
              <textarea id="messageField" placeholder="Technical needs" ng-model="technicalNeeds" name="needs" ng-required="true" class="form-control name-input"></textarea>
            </center>
          </div>
          <div class="form-group title">
            <center>
              <div ng-show="alert.show" ng-class="{'alertSuccess':alert.status=='success','animated bounceIn': alert.show,'alertError':alert.status=='error' || alert.status=='wrong'}" class="message"><img id="error" src="images/icons/error.png" ng-show="bad" alt="error message"><img id="success" src="images/icons/success.png" ng-show="good" alt="success message">
                <div ng-show="badMessage" class="textAreaError">
                  <p id="error-message">There seems to be a problem with your request</p>
                  <p id="error-message">Make sure all required fields (*) are filled out.</p>
                </div>
                <div ng-show="goodMessage" class="textAreaSuccess">
                  <p id="success-message">Your message has been received </p>
                </div>
              </div>
             <!--calll validForm function for send a mail -->
              <button ng-click="validForm()" class="btn btn-default btn-submit"><img src="images/icons/img_submit.png" class="img-responsive" alt="btn submit"></button>
              <div class="black-line"> </div><img id="logo-black" src="images/logos/cognits_logo.png" class="img-responsive" alt="black logo"></center>
          </div>
        </form>
      </div>
      <div class="col-md-4 contradiccionFormaDiagonalInversa hideResponsive">
        <div class="position-icons-cognits"><img id="icons-width-blue" src="images/icons/img_contact-bullet.png">
          <div class="titles-beliefs alturaTitleDatos">
            <h1 id="type-thin">CONTACT</h1>
            <h1 id="red-title">US</h1>
            <div class="contac-us-bar-title"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <link rel="stylesheet" type="text/css" href="styles/media-queries.css">
  <link rel="stylesheet" type="text/css" href="styles/Animate.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/appCognits.js"></script>
<script type="text/javascript" src="js/mandrill-min.js"></script>
<script type="text/javascript" src="bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>