
.name-input,
.navbar {
  border-radius: 0
}

.row {
  margin-right: 0
}

.backgroundModal {
  height: 100%;
  width: 100%;
  opacity: .5;
  background-color: #002636;
  position: fixed;
  z-index: 1001
}

.navbar-inverse {
  border-color: transparent
}

button,
input,
select,
text-area {
  font-family: Robot-Regular
}

#panel {
  margin-left: -9%
}


.contact-us {
  width: 6%;
  height: 75%;
  background-image: url(contact-02.png);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 91.74%;
  margin-top: .5%;
  color: #fff;
  text-align: center

}

.contact-us:hover {
  width: 13.5%;
  background-image: url(contact.png);
  margin-left: 84.23%;
  margin-top: .5%;
  color: #fff
}

#contact {
  display: none
}

.contact-us:hover #contact {
  display: inline
}

.required-field,
.required-fieldSelect {
  position: absolute;
  margin-left: -5%;
  color: red;
  font-size: 25px!important
}

#second-title,
#third-title,
#titles {
  color: #fff;
  font-size: 20px;
  margin-top: -40px
}


.alinicacion-bracket-title {
  margin-top: 1%
}

.bracket-parrafo,
.bracket-parrafo-lapiz,
.complemento-bracket {
  width: 2%;
  position: absolute;
  margin-top: 1%
}

.bracket-parrafo {
  margin-left: -51%
}

.bracket-parrafo-lapiz {
  margin-left: -46%
}

.bracket-parrafo-icono,
.bracket-parrafo-mapa,
.bracket-parrafo-medalla,
.complemento-bracket2 {
  width: 2%;
  position: absolute;
  margin-top: 1.5%
}


.bracket-parrafo-mapa {
  margin-left: -45%
}

.bracket-parrafo-icono {
  margin-left: -48%
}

.bracket-parrafo-medalla {
  margin-left: -51%
}

#type-thin {
  font-family: Robot-Thin
}

.logo-cognits {

  width: 20%;
  margin-top: 16px;
  margin-left: 5%
}

a {
  color: #fff!important
}


#titles-menu {
  margin-top: 20px
}

#titles {
  margin-left: 450px
}

#second-title {
  margin-left: 630px
}

#third-title {
  margin-left: 835px
}

.flecha-icon {

  margin-left: 400px;
  margin-top: -40px
}

.container-beliefs  {
  margin-left: 16%
}

.titles-contact-us {

  margin-top: 40px;
  font-size: 40px;
  float: left
}


.name-input,
.select-input {
  background-color: #E6E7E8;
  margin-bottom: 10px;
  font-size: 16px;
  color: #9999A5
}

.name-input {

  padding-left: 9%
}

.title {
  margin-top: 40px
}

#formulario {
  margin-top: 58%
}


.titles-beliefs {
  padding-left: 50px;
  font-size: 281%
}

text-area {
  resize: none
}

.titles-why-cognits{
  font-size: 40px
}

#red-text {
  color: #E6362B
}

select {
  color: #000;
  background: #FFF;
  border: 1px solid #543229;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 40%!important;
  padding-top: 0!important
}


.position-icons-cognits {
  padding-left: 47px;
  margin-top: 48%
}


#logo-black {
  margin-top: 12%;
  width: 35%
}


.black-line {
  background-color: #000;
  height: 1px;
  width: 76%;
  margin-top: 5%;
  position: absolute;
  margin-left: 12%
}

#blue-title,
#red-title {
   margin-top: -5px;
  font-family: Robot-Bold
}
#blue-title {
  color: #3BC2D5
}
#red-title {
  color: #E6362B
}
#icons-width-coete {
  width: 14%
}
#icons-width {
  width: 19%
}
#icons-width-blue-cognits {
  width: 23%
}
.width-icono-mapa {
  width: 34%
}
.widthi-icono-medalla {
  width: 20%
}
#icons-width-blue {

  width: 18px;
  margin-left: 5%;
  margin-top: 3%;
  position: absolute
}

/* Changed for Oscar */

#black-text,
#text {
  font-family: Robot-Thin;
  font-size: 16px
}

#text-contact,
#text-menu {
  font-family: Robot-Thin;
  color: #fff;
  margin-top: 5%
}
#text-contact {
  margin-left: 31%;
  font-size: 16px!important;
  margin-top: 7%!important
}


#black-text {
  color: #000
}

#text {
  color: #fff
}

#type-regular {
  font-family: Robot-Regular
}

.container-text {
  padding-top: 9%
}

.our-team-bar,
.our-beliefs-bar,
.what-we-do-bar,
.why-cognits-bar,
.contac-us-bar-title,
.why-cognits-blue-bar {
  height: 5px;
  margin-top: -18px
}

.our-team-bar,
.our-beliefs-bar,
.fondoSubrayadoBlue,
.why-cognits-blue-bar {
  background-color: #3BC2D5
}


.what-we-do-bar,
.why-cognits-bar,
.contac-us-bar-title {
  background-color: #E6362B
}

.skew-bar,
.skew-bar-cognits-black {

  transform: skewY(17deg)!important;
  background-color: #242426
}

.our-beliefs-bar {
  width: 149px;
  margin-top: -3%;
}

.why-cognits-bar,
.why-cognits-blue-bar {
  width: 178px;
  margin-top: -3%;
}

.what-we-do-bar {
  width: 132px;
  margin-top: -3%;
}

.our-team-bar {
  width: 102px;
  margin-top: -3%;
}

.contac-us-bar-title {
  width: 170px;
  margin-top: -3%;
}

.content-skew-bar {

  width: 100%!important;
  height: 600px!important;
  background-size: 100%;
  box-shadow: -78px -1px 58px 5px rgba(5, 5, 5, .91);
  padding: 10% 4% 18%
}


.skew-bar {

  margin-top: 47.5%;
  -webkit-transform: skewY(17deg)!important
}


.skew-bar-cognits-black {

  margin-top: 33.5%;
  -webkit-transform: skewY(17deg)!important
}


.skew-bar-inverse {

  margin-top: 34.5%;
  background-color: #fff;
  transform: skewY(-17deg)!important;
  -webkit-transform: skewY(-17deg)!important
}


.skew-bar-inverse-contact {
  width: 100%!important;
  height: 750px!important;
  background-size: 100%;
  margin-top: 34.5%;
  background-color: #fff;
  transform: skewY(-17deg)!important;
  -webkit-transform: skewY(-17deg)!important;
  padding-left: 8%;
  padding-right: 4%
}

.container-hand-image-1st-part,
.container-hand-image-2nd-part {
  background-repeat: no-repeat!important;
  background-size: 115%!important
}

.contradiccionFormaDiagonal {
  transform: skewY(-17deg)!important;
  -webkit-transform: skewY(-17deg)!important;
  color: #fff
}

.contradiccionFormaDiagonalInversa {
  transform: skewY(17deg)!important;
  -webkit-transform: skewY(17deg)!important;
  color: #000
}


.container-hand-image-1st-part {
 background-image: url(../images/img-movil-1500/phone2.png);
  background-position: -54px 0!important
}

.container-hand-image-2nd-part {
  background-image: url(../images/img-movil-1500/phone.png);
  background-position: -54px 100%!important
}

.container-image-notebook-1st-part {
  background-image: url(../images/img-movil-1500/cognits2.png);
  background-repeat: no-repeat!important;
  background-size: 111%!important;
  background-position: -10% 100%!important

}

.homeImage{
  
  background-image: url(../images/img-movil-1500/home-image.png);
  background-repeat: no-repeat!important;
  background-size: 100%!important;
  background-position: 0 0!important
}
.homeImage2{
  background-image: url(../images/img-movil-1500/home-image2.png);
  background-repeat: no-repeat!important;
  background-size: 98.9%!important;
  background-position: 103% 97%!important;
}

.container-image-notebook-2nd-part {
 background-image: url(../images/img-movil-1500/cognits.png);

  background-repeat: no-repeat!important;
  background-size: 112%!important;
  background-position: 0% 0%!important
}


.container-profiles-team {
  background-image: url(../images/img-movil-1500/group-cognits2.png);
  background-repeat: no-repeat!important;
  background-size: 112%!important;
  background-position: 0 0!important
}

.container-profiles-team2 {

  background-image: url(../images/img-movil-1500/group-cognits.png);
  background-repeat: no-repeat!important;
  background-size: 112.2%!important;
  background-position: 0 100%!important
}

.container-ux-designer,
.container-ux-designer1 {
  background-repeat: no-repeat!important;
  background-size: 139.9%!important
}


.container-ux-designer1 {
  background-image: url(../images/img-movil-1500/julio.png);
  background-position: -1% 100%!important
}
.container-ux-designer {
  background-image: url(../images/img-movil-1500/julio2.png);
  background-position: -1% 0!important
}



.image-background-hand,
.image-background-hand2 {
  background-repeat: no-repeat;
  background-size: 112%
}

.image-background-hand {

  background-image: url(../images/img-movil-1500/mac2.png);

  background-position: 0 0!important
}

.image-background-hand2 {

  background-image: url(../images/img-movil-1500/mac.png);
  background-position: 0 100.1%!important
}

.height-image {
  height: 898px;
  width: 100%
}

.position-img-cover2 {
  width: 99.9%
}
.height-images-profiles {
  width: 44%;
  margin-top: 35%
}

.property-ux-profile {
  width: 44%;
  margin-top: 39%
}

.select-row {
  position: absolute;
  margin-top: 10px;
  padding-left: 38%
}

.height-first-profile {
  width: 44%;
  margin-top: 6%
}

.aligin-profiles,
.aligin-ux-profile {
  margin-left: 45%
}

.aligin-1st-profile {
  margin-left: 68%
}

.input-row {
  width: 3%;
  margin-left: -44%;
  position: absolute;
  margin-top: 1.5%
}

.btn-submit {
  width: 32%;
  background-color: transparent;
  border: 0;
  padding: 2px 0;
  margin-top: 5%
}

.message {
  width: 93%;
  background-color: #242426;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px
}

.text-area {
  padding-top: 4%
}

#error-message,
#success-message {
  color: #fff;
  font-family: Robot-Regular;
  font-size: 14px
}

.hide {
  display: none!important
}